body {
    margin: 0;
    word-break: break-all;
}

p {
    margin: 0;
}

.text-button {
    display: inline-block;
    background: transparent;
    font-size: inherit;
    border: 0;
    cursor: pointer;
    padding: 0;
    color: inherit;
    font-family: inherit;
}